{% extends '::base.html.twig' %}

{% block body %}
    <div id="navbar">
        <div class="pure-menu pure-menu-open pure-menu-horizontal">
            <ul>
                <li><a class="home" href="{{ path('app_homepage') }}">Accueil</a></li>
                <li><a href="{{ path('app_faq_index') }}">FAQ</a></li>
            </ul>
        </div>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="footer" class="pure-g">

    </div>
{% endblock %}
