{% extends '::base.html.twig' %}

{% block body %}
    <div id="navbar">
        <div class="pure-menu pure-menu-open pure-menu-horizontal">
            <ul>
                <li><a href="{{ path('app_app_homepage') }}">re-7.com</a></li>
            </ul>
        </div>
    </div>
    <div class="top-hero">
        <div class="content">
            <h1>RE-7</h1>
            <p>Tout le speedrun</p>
        </div>
    </div>
    <div id="content">
        {% block content %}

        {% endblock %}
    </div>
    <div id="footer" class="pure-g">

    </div>
{% endblock %}
