<div class="explaination">
    <h1>Qu'est-ce que RE-7 ?</h1>
    <p>
        <strong>RE-7</strong> est un rassemblement francophone pour la
        promotion du speedrun. Notre but : aider la communauté à avancer !
    </p>
    <p>
        Il y a un énorme investissement des gens pour la communauté du speedrun.
        Malheureusement, nous pensons aussi qu'il manque de la visibilité et des
        moyens pour mettre ces investissements en avant. Alors nous avons décidé
        de lancer <strong>RE-7</strong>.
    </p>
    <p>
        Si vous souhaitez organiser un marathon, si vous créez des tutoriels
        pour vos speedruns favoris, si vous cherchez des gens contre qui courir,
        ou bien simplement si vous voulez savoir ce qui se déroule de beau dans
        notre monde du speedrun : <strong>RE-7</strong> peut aider ! Que ce soit
        sur ce site, par Twitter, ou bien directement via un de nos membres.
    </p>
</div>
