{% extends 'AppAppBundle::layout.html.twig' %}

{% block content %}
    <div class="top-hero">
        <div class="content">
            <h1>RE-7</h1>
            <p>Le temple du speedrun</p>
        </div>
    </div>
    <div class="page">
        <div>
            {{ include('AppAppBundle:Main:index/explaination.html.twig') }}
        </div>
        <hr />
        <div>
            {{ include('AppAppBundle:Main:index/events.html.twig') }}
        </div>
    </div>
{% endblock %}
