<div class="container-fluid events">
    <div class="row">
        <div class="col-md-12">
            <h1>Evènements à venir</h1>
        </div>
    </div>
    <div class="event row">
        <div class="col-md-4">
            <img src="{{ asset('img/bourglarun.png') }}" width="" height="" alt="Bourg la Run" />
        </div>
        <div class="col-md-8">
            <h2>Bourg la Run</h2>
            <p class="date">Le 4 et 5 décembre 2015</p>
            <p>
                Bourg la Run est un marathon IRL de speedrun qui se déroulera au
                profit du Téléthon 2015, du 4 au 5 Décembre. La ville de Bourg
                la Reine nous apportera le soutien nécessaire à la réussite de
                l'événement, et pense pouvoir en faire son événement principal
                parmi les activités qu'elle proposera pendant ce Téléthon 2015.
            </p>
            <p>
                Vous avez jusqu'au <b>30 septembre</b> pour proposer une
                performance, alors faites vite !
            </p>
            <p>
                <a class="button" href="https://docs.google.com/forms/d/1s0HjeC4ZzK49llrkUyIP3wDqFbBLhuXsdtBr5GXcmrI/viewform">Formulaire d'inscription</a>
            </p>
        </div>
    </div>
</div>
