<div class="container-fluid events">
    <div class="row">
        <div class="col-md-12">
            <h1>Evènements à venir</h1>
        </div>
    </div>
    <div class="event row">
        <div class="col-md-4">
            <img src="{{ asset('img/bourglarun.png') }}" width="" height="" alt="Bourg la Run" />
        </div>
        <div class="col-md-8">
            <h2>Bourg la Run</h2>
            <p class="date">Le 4 et 5 décembre 2015</p>
            <p>
                Bourg la Run est un marathon IRL de speedrun qui se déroulera au
                profit du Téléthon 2015, du 4 au 5 Décembre. La ville de Bourg
                la Reine nous apportera le soutien nécessaire à la réussite de
                l'événement, et pense pouvoir en faire son événement principal
                parmi les activités qu'elle proposera pendant ce Téléthon 2015.
            </p>
            <p>
                <a class="button" href="https://twitter.com/bourglarun">Twitter</a>
                <a class="button" href="https://horaro.org/bourglarun/2015">Planning</a>
            </p>
        </div>
    </div>
    <div class="event row">
        <div class="col-md-4">
            <img src="{{ asset('img/stunfest.jpg') }}" width="" height="" alt="Stunfest" />
        </div>
        <div class="col-md-8">
            <h2>Stunfest</h2>
            <p class="date">Du 20 au 22 mai 2016</p>
            <p>
                Le Stunfest est devenu l'événement français majeur dans le monde
                du speedrun francophone. Si vous avez envie de rencontrer tous
                vos runners favoris, c'est à Rennes qu'il faudra vous rendre.
                Il n'y a pas encore beaucoup de détails sur le déroulement de
                l'évènement. Tout ce qu'on peut vous dire, c'est que vous
                pourrez y retrouver, comme toujours, vos classiques de VS
                fighting, des conférences sur le jeu vidéo, et plein d'autres
                choses !
            </p>
            <p>
                <a class="button" href="https://twitter.com/stunfest">Twitter</a>
            </p>
        </div>
    </div>
</div>
