@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

body {
    background-color: #FFFBF4;
    font-family: Lato;
}

#navbar {
    background-color: black;
    color: #FFFBF4;
    text-transform: uppercase;
}

#navbar .pure-menu {
    font-size: 150%;
    max-width: 1280px;
    margin: auto;
    background-color: black;
}

#navbar .pure-menu a {
    color: #FFFBF4;
}

#navbar .pure-menu a:hover {
    background-color: #333;
}

#navbar .home {
    font-weight: bold;
    position: relative;
    line-height: 57px;
    padding-left: 60px;
}

#navbar .home::before {
    content: "";
    position: absolute;
    background-image: url('../img/logo.png');
    width: 41px;
    height: 57px;
    left: 5px;
    top: 5px;
}

.top-hero {
    background-image: url('../img/glitched.png');
}
.top-hero .content {
    max-width: 1280px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    vertical-align: center;
    /*padding: 40px 0;*/
    text-transform: uppercase;
}

.top-hero .content h1 {
    margin: 0;
    font-size: 160px;
    line-height: 125px;
    margin-left: 20%;
    padding-top: 30px;
}

.top-hero .content p {
    margin: 0;
    margin-left: 20%;
    font-weight: bold;
    font-size: 28px;
    padding-left: 11px;
    padding-bottom: 30px;
}

#content .page {
    max-width: 1330px;
    margin: auto;
}

#content .argument-box {
    padding: 0 25px;
    box-sizing: border-box;
    color: white;
}

#content .argument-box>div {
    background-color: #BADA55;
}

#content .argument-box h3 {
    color: white;
    font-size: 1.5em;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 0;
    padding: 15px 15px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);

}

#content .argument-box p {
    font-family: Roboto;
    font-weight: bold;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 120%;
    padding: 15px;
    margin-top: 0;
}

#content .argument-box .video {
    background-color: #26C0F3;
}

#content .argument-box .tuto {
    background-color: #D22F2F;
}

#content .argument-box .sharing {
    background-color: #62D848;
}

#content .explaination {
    margin: 0 25px;
    padding: 40px 0;
    font-size: 1.5em;
    line-height: 150%;
    color: #333;
}

#content .explaination h2 {
    text-align: center;
    font-size: 2em;
    color: #eca937;
    margin-bottom: 60px;
}
