@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500,700);

body {
    background-color: #FFFFFF;
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-weight: normal;
}

h1 {
    font-weight: normal;
    font-size: 34px;
    color: #FFC107;
}

h2 {
    font-size: 20px;
    font-weight: normal;
}

h3 {
    font-size: 15px;
}

#navbar {
    font-size: 24px;
    height: 64px;
    background-color: #FFC107;
    color: #FFFFFF;
    text-transform: uppercase;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    position: relative;
    z-index: 10;
    line-height: 64px;
}

#navbar .pure-menu {
    font-size: 150%;
    max-width: 1280px;
    margin: auto;
    background-color: #FFC107;
}

#navbar .pure-menu * {
    vertical-align: top;
}

#navbar .pure-menu a {
    font-size: 24px;
    border: 0;
    vertical-align: top;
    color: #FFFBF4;
    line-height: 64px;
    padding: 0;
}

#navbar .pure-menu a:hover {
    background-color: #FFC107;
}

#navbar .pure-menu a.home {
    font-weight: bold;
    position: relative;
    padding-left: 60px;
}

#navbar .pure-menu a.home::before {
    content: "";
    position: absolute;
    background-image: url('../img/logo.png');
    width: 41px;
    height: 57px;
    left: 5px;
    top: 5px;
}

.top-hero {
    height: 240px;
    font-family: Lato;
    background-image: url('../img/title-background.png');
    /*background-image: url('../img/glitched.png');*/
    background-color: #FFECB3;
    color: rgba(0, 0, 0, 0.87);
    color: #FFFFFF;
}

.top-hero .content {
    max-width: 1280px;
    margin: auto;
    /*background-color: rgba(0, 0, 0, 0.7);*/
    vertical-align: center;
    /*padding: 40px 0;*/
    text-transform: uppercase;
}

.top-hero .content h1 {
    margin: 0;
    font-size: 160px;
    line-height: 125px;
    margin-left: 45%;
    padding-top: 41px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.87);
    color: white;
}

.top-hero .content p {
    margin: 0;
    margin-left: 45%;
    font-weight: bold;
    font-size: 28px;
    padding-left: 11px;
    padding-bottom: 40px;
}

#content .page {
    max-width: 1280px;
    margin: auto;
}

#content .arguments {
    margin-left: -15px;
    margin-right: -15px;
}

#content .arguments .box {
    padding: 0 15px;
    box-sizing: border-box;
    color: white;
}

#content .arguments .box>div {
    background-color: #BADA55;
}

#content .arguments .box h3 {
    color: white;
    font-size: 1.5em;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 0;
    padding: 15px 15px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);

}

#content .arguments .box p {
    font-family: Roboto;
    font-weight: bold;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 120%;
    padding: 15px;
    margin-top: 0;
}

#content .arguments .box .video {
    background-color: #26C0F3;
}

#content .arguments .box .tuto {
    background-color: #D22F2F;
}

#content .arguments .box .sharing {
    background-color: #62D848;
}

#content .explaination {
    padding: 40px 0;
}

#content .explaination h2 {
    text-align: center;
}
