{% extends ':App:layout.html.twig' %}

{% block content %}
    <div class="page">
        <div>
            {{ include(':App/Main:index/explaination.html.twig') }}
        </div>
        <hr />
        <div>
            {{ include(':App/Main:index/events.html.twig') }}
        </div>
    </div>
{% endblock %}
